body {
    padding: 10px;
    margin: 10px;
    margin-bottom: 0px;
}

header {
    background: #9b9b9b url('../images/flywheel.jpg') no-repeat;
    background-size: cover;
    padding: 20px;
}

h1 {
    text-transform:uppercase;
    text-align: center;
    color: #fff;
}

h2 {
    text-transform:uppercase;
    color: #11007f;
}

section {
    float: right;
    width: 80%;
}

nav {
    text-align: center
}

nav a {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
    margin-top: 0;
    padding: 15px 65px;
}

.active {
    background-color: #fff;
}

aside {
    float: left;
    width: 20%;
    background-color: #767613;
    margin-bottom: 0px;
}

img {
    display: block;
    border: 2px solid #000;
    width:  70%;
    margin: 15px auto;
}

table {
    margin: 20px auto;
    padding: 5px;
    background-color: #7bf5cc;
    border: 1px solid #308669;
    border-radius: 5px;
}

th {
    background-color: #00ffa9;
    border: 2px solid #308669;
    margin: 3px;
    padding: 10px;
}

td {
    background-color: #6aa792;
    margin: 5px;
    padding: 10px;
    color: #fff
}

tr:hover {
    opacity: 0.6
}

tr td:first-child {
    text-align: left;
}

tr td:nth-child(n+2) {
    text-align: center;
}